html{
  font-family: sans-serif;
}

audio{
    margin: 0px;
    width: 100%;
}
.TitleGroup{
    align-items: center;
    flex-wrap: nowrap;
    background: #161B1D;
    text-align: center;
    
  
}
.Name{
    width: 40vw;
    background: #262F32;
    color: #F7F7F7;
    padding: 10px;
    margin:10px 25px;
    text-align: center;
    display: inline-block;
    align-self:center;
    white-space: nowrap;
    border-radius: 15px;
    font-family: sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
    display: table;
    height: 100%;
    width: 100%;
    margin:0px;
}
.ListsGroup{
    align-items: center;
    flex-wrap: nowrap;
    background: #262F32;
    text-align: center;
    height:56px;
    vertical-align:middle;
    padding-top: 10px;
}

 select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
     width: 40vw;
     box-sizing: border-box;
     font-size: 26px;
     margin-left: auto;
  margin-right: auto;
  display: table;
  background-color:#354246 ;
  border: 0px;
  border-radius: 15px;
  padding: 0px 5px;
  color: #F7F7F7;
  


 }
 .sublist{
     width: 50%;
     height: auto;
     background: #262F32;
     color: #f7f7f7;
     display:inline-block;
     margin: 0px;
    padding: 0px;
    white-space:nowrap;
    margin: auto;

     
 }
 .lists{
   background-color: #262F32;
  position:absolute;
  top:0px;
  right:0px;
  bottom:25px;
  left:0px;
 }
 .lable{
     display: table;
     margin: auto;
     font-size: 36px;
     color:#F7F7F7 ;
     font-family: sans-serif;

 }
 .button_play{
    margin:15px auto;
    display: table;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border:0px;
    background-color:#354246;
    color: #F7F7F7;
    font-size: 30px;
    font-family: sans-serif;
 }
 .button_play:hover{
     box-shadow: 0px 0px 10px 4px white;
 }
 .button_play:active{
    box-shadow: 0px 0px 10px 4px gray;
    background-color: #262F32;
 }




 .slidecontainer {
    width: 100%; /* Width of the outside container */
    margin: 0px;
    padding: 0px;
    height: 25px;
    position: absolute;
    bottom: 0;
    border-radius: 0px;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #354246; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    background: #354246;
    margin: 0px;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    margin: 0px;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    margin: 0px;
  }

  .plate{
    height: 35vmin;
    width: 35vmin;
    display: table;
    margin: auto;
    border-radius: 50%;
  }

  .PBar{
    height: 25px;
    width: 75%;
    background-color: #161B1D;
    display: table;
     margin: 10px auto ;
  }
  .PBar_in{
    height: 100%;
    width: 50%;
    background-color: #04AA6D;
  }
  .cntrls{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button_play{
    margin: 10px 10px;
  }
  .plate{
    border-radius: 50%;
  }
  .time{
    float: right;
    margin-top: -20px;
    margin-right: 5px;

  }
